/*  Star Wars Quiz App 
	that demonstrated my ability
	to use JS and objects. 

	colors:
	  grey: #E6E6E6
	  black: #231F20
	  red: #ED3044
	  green: #6DB045
	  blue: #5c7ee5;
	  
	 font families:
	   Open Sans
	   Droid
*/

/* -- GENERAL -- */

/**, body {
	border: 1px solid black;
}*/

body {
	font-family: 'Open Sans', sans-serif;
	size: .5em;
	font-weight: 300;
	color: #231F20;
}

html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

.instructions {
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 270px;
	width: 60%;
}


.main {
	width: 80%;
	margin: 0 auto; /* why doesn't this center every div inside?*/
	position: relative;

}


/* -- HEADER -- */


.top-header {
	position: fixed;
	background-color: #E6E6E6;
	width: 100%;
	height: 180px;
	top: 0;
	z-index: 9999;
}

.img-wrap {
	text-align: center;
}

.light-sabers, .playericon-light, .playericon-dark {
	width: 188px;
	height: 144px;
	margin: 0 auto;
	margin-top: -20px;
}

.playericon-light, .playericon-dark {
	display: none;
}


/* -- FONT STYLINGS -- */


h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	font-size: 2.5em;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}


h2 {
	font-weight: 400;
	margin-top: 300px;
	text-align: center;
}

.light-text, .dark-text {
	display: none;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.8em;
	text-align: center;
}

h3 {
	text-align: center;
	margin-bottom: 50px;
}


/* -- BUTTONS AND INPUTS -- */


.dark-light-buttons {
	text-align: center;
	margin-top: 50px;
	border: 1px solid black;
}

.choose-light {
	margin-right: 20px;
	width: 150px;
	height: 150px;
	background: #6DB045;
	border: none;
	outline: none;
	vertical-align: top;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.choose-dark {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background: #ED3044;
	outline: none;
	border: none;
	vertical-align: top;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.light-img .dark-img {
	text-align: center;
}


.light-clicked, .dark-clicked {
	background: #231F20;
}


.choose-light:hover {
	background-color: #5c7ee5;

}

.choose-dark:hover {
	background-color: #5c7ee5;
}


.start-wrap {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.start-game {
	background-color: #4e4b4c;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	padding: 12px 25px;
	border: none;
}

.start-game:hover {
	background-color: #5c7ee5;
}

.options-wrap { /* add other browsers*/
	width: 100%;
	max-width: 1000px;
	  display: -webkit-flex;
	display: flex;
	  -webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	  -webkit-justify-content: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.option1, .option2, .option3, .option4 {
	background-color: #E6E6E6;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	width: 35%;
	height: 100px;
	margin: 5px;
}


/* -- RESPONSIVE -- */


@media only screen and (max-width: 411px) {
	.choose-dark {
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.choose-light {
		margin-left: 20px
	}
}

@media only screen and (max-width: 380px) {
	.main {
		width: 100%;
	}
	
}

@media only screen and (max-width: 720px) {
	.options-wrap {
		-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	 -webkit-align-items: center; align-items: center;
	}
}







