/*  Star Wars Quiz App 
	that demonstrated my ability
	to use JS and objects. 

	colors:
	  grey: #E6E6E6
	  black: #231F20
	  red: #ED3044
	  green: #6DB045
	  blue: #5c7ee5;
	  
	 font families:
	   Open Sans
	   Droid
*/

/* -- GENERAL -- */

/**, body {
	border: 1px solid black;
}*/

body {
	font-family: 'Open Sans', sans-serif;
	size: .5em;
	font-weight: 300;
	color: #231F20;
}

html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

ul > li {
	list-style: none;
}

.instructions {
	position: relative;
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
	padding-top: 300px;
	width: 75%;
	margin-top: -40px;
}


.main {
	width: 80%;
	margin: 0 auto; /* why doesn't this center every div inside?*/
	position: relative;

}


/* -- HEADER -- */


.top-header {
	position: absolute;
	background-color: #E6E6E6;
	width: 100%;
	height: 150px;
	top: 0;
}

.img-wrap {
	text-align: center;
}

.light-sabers, .playericon-light, .playericon-dark {
	width: 188px;
	height: 144px;
	margin: 0 auto;
	margin-top: -40px;
}

.playericon-light, .playericon-dark {
	display: none;
}


/* -- FONT STYLINGS -- */


h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	font-size: 2.5em;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}

h2 {
	margin-bottom: 50px;
}

.question {
	font-size: 1.5em;
	margin: 0 auto;
	/*width: 100%;*/
	margin-top: -50px;
	margin-bottom: 20px;
}


#quiz-question-wrap {
	width: 75%;
	text-align: center;
	margin: 0 auto;
	margin-top: 350px;
}

.light-text, .dark-text {
	display: none;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 1.5em;
	text-align: center;
}

h3 {
	text-align: center;
	margin-bottom: 50px;
}

.correct-notify {
	font-size: 1em;
	font-weight: 700;
	margin-bottom: -15px;
	text-transform: uppercase;
	color: #6DB045;
	display: none;
}

.wrong-notify {
	color: #ED3044;
	font-size: 1em;
	font-weight: 700;
	margin-bottom: -15px;
	text-transform: uppercase;
	display: none;
}


.fa-check {
	color: #6DB045;
	line-height: 80px;
	display: none;
}


.fa-times {
	color:  #ED3044;
	line-height: 80px;
	display: none;
}

.right-wrong-icons {
	text-align: center;
	width: 80%;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 20px;
}

/* -- BUTTONS AND INPUTS -- */


.dark-light-buttons {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 50px;
}

.choose-light {
	margin-right: 20px;
	width: 150px;
	height: 150px;
	background: #6DB045;
	border: none;
	outline: none;
	vertical-align: top;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.choose-dark {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background: #ED3044;
	outline: none;
	border: none;
	vertical-align: top;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.light-img .dark-img {
	text-align: center;
}

.choose-light:hover {
	background-color: #5c7ee5;

}

.choose-dark:hover {
	background-color: #5c7ee5;
}


.start-wrap {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.start-game {
	background-color: #4e4b4c;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	padding: 12px 25px;
	border: none;
}

.start-game:hover {
	background-color: #5c7ee5;
}

.questions-wrap {
	display: none;
}

.options-wrap { /* add other browsers*/
	width: 100%;
	max-width: 1000px;
	height: auto;
	flex-wrap: wrap;
	  display: -webkit-flex;
	display: flex;
	  -webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	  -webkit-justify-content: center;
	justify-content: center;
	margin: 0 auto;
	/*margin-top: 20px;*/
	margin-bottom: 50px;
	margin-top: -20px;
}

ul.options-wrap {
	padding-left: 0;
}

.option1, .option2, .option3, .option4 {
	flex-grow: 1;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: #E6E6E6;
	padding: 20px;
	text-align: center;
	font-size: 1.2em;
	color: #ffffff;
	font-weight: 600;
	vertical-align: middle;
	line-height: 125px;
	width: 40%;
	height: 125px;
	margin: 5px;
	cursor: pointer;
}


.options-light-background {
	background-color: #6DB045;
}

.options-dark-background {
	background-color: #ED3044;
}

.options-hover {
	background-color: #5c7ee5;
}

.try-again-wrap {
	text-align: center;
	margin: 0 auto;
	margin-top: 350px;
	width: 80%;
	display: none;
}

input.try-again {
 padding: 25px 80px;
 margin-bottom: 50px;
 font-size: 1.5em;
 font-weight: 600;
 color: #ffffff;
 text-transform: uppercase;
 background-color: #5c7ee5;
 border: none;

}

input:hover {
	opacity: .8;
}



/* -- RESPONSIVE -- */


@media only screen and (max-width: 411px) {
	.choose-dark {
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.choose-light {
		margin-left: 20px
	}
}

@media only screen and (max-width: 380px) {
	.main {
		width: 100%;
	}
	
}

@media only screen and (max-width: 720px) {
	.options-wrap {
		-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	 -webkit-align-items: center; align-items: center;
	}

	.option1, .option2, .option3, .option4 {
		width: 80%;
	}
}







