/*  Star Wars Quiz App 
	that demonstrated my ability
	to use JS and objects. 

	colors:
	  grey: #E6E6E6
	  black: #231F20
	  red: #ED3044
	  green: #6DB045
	  
	 font families:
	   Open Sans
	   Droid
*/

/* -- GENERAL -- */

/**, body {
	border: 1px solid black;
}*/

body {
	font-family: 'Open Sans', sans-serif;
	size: .5em;
	font-weight: 300;
	color: #231F20;
}

html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

.instructions {
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 270px;
	width: 60%;
}


.main {
	width: 80%;
	margin: 0 auto; /* why doesn't this center every div inside?*/
	position: relative;

}

/* -- HEADER -- */

.top-header {
	position: fixed;
	background-color: #E6E6E6;
	width: 100%;
	height: 180px;
	top: 0;
	z-index: 9999;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	font-size: 2.5em;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}

.light-sabers {
	display: block;
	width: 188px;
	height: 144px;
	margin: 0 auto;
	margin-top: -20px;
}

/* -- BUTTONS AND INPUTS -- */

.dark-light-buttons {
	text-align: center;
	margin-top: 50px;
}

.choose-light {
	margin-right: 20px;
	width: 150px;
	height: 150px;
	background: #6DB045;
	/*outline: none;*/
	border: none;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.choose-dark {
	width: 150px;
	height: 150px;
	background: #ED3044;
	/*outline: none;*/
	border: none;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}


.choose-light:hover {
	background-color: #5c7ee5;
}

.choose-dark:hover {
	background-color: #5c7ee5;
}

.start-wrap {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
}

.start-game {
	background-color: #4e4b4c;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	padding: 12px 25px;
	border: none;
}

.start-game:hover {
	background-color: #5c7ee5;
}


/* -- RESPONSIVE -- */

@media only screen and (max-width: 411px) {
	.choose-dark {
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.choose-light {
		margin-left: 20px
	}

}







